#page {
    background-color: #F1F1F1;
}

#title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#boxes {
    width: 50%;
    margin: auto;
}

.card-title {
    padding-left: 20px;
    padding-top: 10px;
}